* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: #cfb291; 
    padding: 6px 40px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo img {
    max-width: 60px; 
    height: auto;
}


nav {
    display: flex;
    gap: 25px; 
}

nav a {
    text-decoration: none;
    color: #333; 
    font-size: 1.2rem;
    padding: 8px 12px; 
    border-radius: 5px; 
}

nav a:hover {
    background-color: #e2b495; 
    color: rgb(0, 0, 0); 
    transition: 0.3s ease; 
    

}


nav a i {
    margin-left: 5px; 
    font-size: 18px; 
    color: black; 
}

#titulo{
    text-align: center !important; /* Centra el texto horizontalmente */
    width: auto !important; /* Ancho del contenedor */
    padding: 20px !important;
    background-color: #F5E9E9 !important; /* Color de fondo opcional */
    font-weight: bold; /* Hace el texto en negrita */
    font-size: 1.3rem;
}


p{
    color: black;
}

.input-text { 
    width: 180px; /* Ajusta el tamaño según tus necesidades */ 
    padding: 0; 
    font-size: 16px; 
}
/* Container */
.container {
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px auto;
    width: 80%;
}

footer {
       
    background-color: #CEB292; /* Color de fondo del footer */
    color: #000000; /* Color del texto */
    text-align: center; /* Centrar el texto */
    padding: 10px 0; /* Espaciado superior e inferior */
    font-size: 0.9rem; /* Tamaño del texto */
    position: relative; /* Para mantenerlo dentro del flujo del contenido */
    width: 100%; /* Asegurar que ocupe todo el ancho */
    
}

.cart a{
    list-style: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.contenedor {
    display: flex;
    padding: 0px 0;
    justify-content: space-around;
}

.sidebar { 
    color: rgb(0, 0, 0);
    padding-right: 30px;
}
.sidebarBlock{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.sidebarBlock h2{
    text-align: center !important;
}
.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #ffffff;
}

.main-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
}
.cards {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
}
.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    max-width: 200px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card h5 {
font-size: 18px;
margin: 10px 0;
}
.card button {
margin-top: 10px;
}
.card img {
    max-height: 150px;
    object-fit: cover;
}
  
.card .card-body {
padding: 10px;
}
#contador {
    text-align: center;
    font-size: 18px;
    color: #fff;
    background-color: #333;
    padding: 10px 20px;
    border-radius: 10px;
    width: fit-content;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
.card .btn {
margin-top: 10px;
}
.list-group{
    padding: 0 90px;
}

/* Estilos Responsive */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .imagen-texto {
        flex-direction: column; /* Las imágenes y el texto se colocan en columna */
        align-items: center;
    }

    .imagen-texto img {
        width: 50%; /* Las imágenes ocupan el 90% del ancho del contenedor */
    }

    .imagen-texto p {
        font-size: 14px; /* Reduce el tamaño del texto */
    }
}
