* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: #CEB292; 
    padding: 6px 40px;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo img {
    max-width: 60px; 
    height: auto;
}


nav {
    display: flex;
    gap: 25px; 
}

nav a {
    text-decoration: none; /* Quita el subrayado */
    color: #333; /* Color del texto */
    font-size: 18px; /* Tamaño de letra */
    padding: 8px 12px; /* Relleno interno para área clickeable */
    border-radius: 5px; /* Opcional: bordes redondeados */
}

nav a:hover {
    background-color: #e2b495; /* Color de fondo al pasar el mouse */
    color: rgb(0, 0, 0); /* Cambia el color del texto */
    transition: 0.3s ease; /* Efecto suave */
    

}


nav a i {
    margin-left: 5px; 
    font-size: 18px; 
    color: black; 
}


a{
    text-decoration: none;
}

i{
    color: rgb(94, 91, 91);
    font-size: 3em;   
}

#contepuntos{
    background-color: rgb(216, 212, 205);
    display: flex;
    justify-content: space-evenly;
}

#contepuntos > a {
    font-size: 2em;
    font-style: none;
    color:  rgb(94, 91, 91);
}

img{
    width: 100%;
    height: 100%;
}

footer {
       
    background-color: #CEB292; /* Color de fondo del footer */
    color: #000000; /* Color del texto */
    text-align: center; /* Centrar el texto */
    padding: 10px 0; /* Espaciado superior e inferior */
    font-size: 0.9rem; /* Tamaño del texto */
    position: relative; /* Para mantenerlo dentro del flujo del contenido */
    width: 100%; /* Asegurar que ocupe todo el ancho */
    
}

/* Container */
.container-main {
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px auto;
    width: 80%;
}

/* Header text */
.texto h2 {
    font-size: 1.8rem;
    color: #333333;
    margin-bottom: 20px;
}

/* Estilo para la imagen y el texto alineados */
.imagen-texto {
    display: flex; /* Solo esta sección tiene flexbox */
    align-items: center; /* Alineación vertical */
    gap: 20px; /* Espacio entre imagen y texto */
    margin: 20px 0;
}

.imagen-texto img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.imagen-texto p {
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
}

